$banner-h1-color:white;

.banner{
    position: relative;
    width: 100%;

    h1{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 50px;
        left: 0;
        right: 0;
        text-align: center;
        color: $banner-h1-color;
        font-size: 48px;
        text-shadow: 0px 4px 4px (rgb(0, 0, 0, 25%));
    }

    img{
        object-fit: cover;
        height: 223px;
        width: 100%;
        border-radius: 25px;
        filter: brightness(50%);
        box-shadow: 0px 4px 4px (rgb(0, 0, 0, 25%));
    }

    h1, img{
        stroke:black;
        stroke-width: 1px;
    }
}

