$footer-bg-color:black;

footer{
    background-color: $footer-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 209px;
    margin-top: 8px;

    @media (max-width:768px) {
        justify-content: center;
    }

    img{
        width: 122px;
        height: 40px;
        margin-top: 60px;

        @media (max-width:768px) {
            margin-top: 0;
        }
    }

    p{
        color: white;
        font-size: 24px;
        margin-bottom: 20px;

        @media (max-width:1024px) {
            font-size: 18px;
        }

        @media (max-width:768px) {
            font-size: 12px;
            max-width: 134px;
            margin-bottom: 0;
            text-align: center;
        }
    }
}