@font-face {
    font-family: "Medium";
    src: url("../assets/fonts/static/Montserrat-Medium.ttf");
}

// Reset CSS

h1, h2, h3, h4, p{
    margin-block-start: 0;
    margin-block-end: 0;
}

// Gestion du style sur toutes les pages

body{
    margin: 0;
    font-family: "Medium";
}

header, main{
    padding: 0px 6% 0px 6%;
}