$slideshow-text-color:white;
$primary-color: #FF6060;
$span-bg-color: #F6F6F6;
$title-color: white;

.slideshow{
    position: relative;
    margin-bottom: 20px;

    .appt-picture{
        width: 100%;
        height: 415px;
        object-fit: cover;

        @media (max-width:1024px) {

        }

        @media (max-width:768px) {
            height: 255px;
        }
    }

    .left-arrow{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 20px;

        @media (max-width:1024px) {
            width: 35px;
            height: 59px;
            margin: auto 10px;
        }

        @media (max-width:768px) {
            width: 12px;
            height: 20px;
            margin: auto 5px;
        }
    }

    .right-arrow{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 20px;

        @media (max-width:1024px) {
            width: 35px;
            height: 59px;
            margin: auto 10px;
        }

        @media (max-width:768px) {
            width: 12px;
            height: 20px;
            margin: auto 5px;
        }
    }

    p{
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        color: $slideshow-text-color;
        font-size: 18px;

        @media (max-width:768px) {
            display: none;
        }
    }
}

.appt-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.appt-info__title-location{

    h2{
        color: $primary-color;
        font-size: 36px;
    }

    p{
        font-size: 18px;
        margin-bottom: 27px;
    }
}

.tags{
    display: flex;
    gap: 10px;
}

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: $primary-color;
    min-height: 25px;
    height: auto;
    padding: 3px 40px;
    max-width: 35px;
    border-radius: 10px;

    p{
        margin-bottom: 0;
    }
}

.appt-info__owner-and-rate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p{
        margin-block-start: 0;
        margin-block-end: 0;
        text-align: center;
        font-size: 14px;
        width: auto;
        min-width: auto;
    }
}

.appt-info__owner{
    display: flex;
    align-items: center;
    gap: 10px;

    img{
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }

    p{
        color: $primary-color;
        font-size: 18px;
        width: 93px;
        display: flex;
        text-align: end;
    }
}

.rate{

    div{
        display: flex;
        flex-direction: row;
        gap: 4px;
    }
    
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
    }
}

.appt-info__equipement-and-description{
    display: flex;
    align-items: stretch;
    gap: 76px;
    margin-bottom: 42px;

    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 95%;

        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $primary-color;
            height: 20px;
            border-radius: 10px;
            padding: 16px;
        }

        span{
            background-color: $span-bg-color;
            border-radius: 0px 0px 5px 5px;
            position: relative;
            bottom: 5px;
            z-index: -1;
            width: 95%;
            padding: 16px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }

    h2{
        text-align: center;
        color: $title-color;
        font-size: 24px;
    }

    p{
        margin-block-start: 0;
        margin-block-end: 0;
    }
}