@font-face {
  font-family: "Medium";
  src: url("../assets/fonts/static/Montserrat-Medium.ttf");
}
body {
  margin: 0;
  font-family: "Medium";
}

header, main {
  padding: 0px 6% 0px 6%;
}

header {
  margin: 45px 0px 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 37px;
}

a {
  color: black;
  font-size: 24px;
  text-decoration: none;
  padding-left: 45px;
}

.active {
  text-decoration: underline;
}

.banner {
  position: relative;
  width: 100%;
  margin-bottom: 43px;
}
.banner h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  filter: brightness(50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner h1, .banner img {
  stroke: black;
  stroke-width: 1px;
}

.container {
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 56px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-bottom: 50px;
}
.container a {
  padding: 0px;
}

.card {
  position: relative;
  background-color: #FF6060;
  width: 340px;
  height: 340px;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card h2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  font-size: 18px;
  color: white;
  margin: 0px 20px 20px 20px;
}

.card, img {
  border-radius: 10px;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 149px;
  padding-top: 60px;
  margin-top: 8px;
}
footer img {
  width: 122px;
  height: 40px;
}
footer p {
  color: white;
  font-size: 24px;
}

.about_container {
  margin-bottom: 30px;
}
.about_container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_container div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FF6060;
  height: 20px;
  border-radius: 10px;
  width: 78%;
  padding: 16px;
}
.about_container h2 {
  text-align: center;
  color: white;
  font-size: 24px;
}
.about_container span {
  background-color: #F6F6F6;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  bottom: 5px;
  z-index: -1;
  width: 78%;
  padding: 16px;
}
.about_container .visible0 {
  display: none;
}
.about_container .visible1 {
  animation: show 0.25s linear;
}
.about_container .visible2 {
  animation: mask 0.25s linear forwards;
}
.about_container .rotate1 {
  animation: rotate-show 0.25s linear forwards;
}
.about_container .rotate2 {
  animation: rotate-mask 0.25s linear forwards;
}

@keyframes show {
  from {
    transform: translateY(-50px);
    display: none;
  }
  to {
    transform: translateY(0px);
    display: block;
  }
}
@keyframes mask {
  from {
    transform: translateY(0px);
    display: block;
  }
  to {
    transform: translateY(-50px);
    display: none;
  }
}
@keyframes rotate-show {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotate-mask {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}/*# sourceMappingURL=styles.css.map */