@font-face {
  font-family: "Medium";
  src: url("../assets/fonts/static/Montserrat-Medium.ttf");
}
h1, h2, h3, h4, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  margin: 0;
  font-family: "Medium";
}

header, main {
  padding: 0px 6% 0px 6%;
}

header {
  margin: 45px 0px 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  header {
    margin: 20px 0px 27px 0px;
  }
}
header nav {
  display: flex;
  gap: 37px;
  padding-left: 5%;
}
@media (max-width: 768px) {
  header nav {
    gap: 25px;
  }
}
header a {
  color: black;
  font-size: 24px;
  text-decoration: none;
  text-wrap: nowrap;
}
@media (max-width: 1024px) {
  header a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  header a {
    font-size: 12px;
  }
}
header .active {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  header img {
    width: 177px;
    height: 57px;
  }
}
@media (max-width: 768px) {
  header img {
    width: 145px;
    height: 47px;
  }
}

.banner {
  position: relative;
  width: 100%;
  margin-bottom: 43px;
}
.banner h1 {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .banner h1 {
    font-size: 36px;
    margin-bottom: 31px;
  }
}
@media (max-width: 768px) {
  .banner h1 {
    font-size: 24px;
    text-align: start;
    margin-left: 16px;
    text-wrap: wrap;
    width: 68%;
    min-width: 225px;
    max-height: 58px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 19px;
  }
}
.banner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  filter: brightness(50%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .banner img {
    height: 167px;
  }
}
@media (max-width: 768px) {
  .banner img {
    height: 111px;
  }
}
.banner h1, .banner img {
  stroke: black;
  stroke-width: 1px;
}

.container {
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 56px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 31px 25px;
  }
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: inherit;
    padding: 0;
  }
}
.container a {
  padding: 0px;
}

.card {
  position: relative;
  background-color: #FF6060;
  max-width: 340px;
  height: 340px;
}
@media (max-width: 1024px) {
  .card {
    height: 297px;
  }
}
@media (max-width: 768px) {
  .card {
    height: 255px;
    max-width: 100%;
  }
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card h2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  font-size: 18px;
  color: white;
  margin: 0px 20px 20px 20px;
}

.card, img {
  border-radius: 10px;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 209px;
  margin-top: 8px;
}
@media (max-width: 768px) {
  footer {
    justify-content: center;
  }
}
footer img {
  width: 122px;
  height: 40px;
  margin-top: 60px;
}
@media (max-width: 768px) {
  footer img {
    margin-top: 0;
  }
}
footer p {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  footer p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  footer p {
    font-size: 12px;
    max-width: 134px;
    margin-bottom: 0;
    text-align: center;
  }
}

.slideshow {
  position: relative;
  margin-bottom: 20px;
}
.slideshow .appt-picture {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .slideshow .appt-picture {
    height: 335px;
  }
}
@media (max-width: 768px) {
  .slideshow .appt-picture {
    height: 255px;
  }
}
.slideshow .left-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 20px;
}
@media (max-width: 1024px) {
  .slideshow .left-arrow {
    width: 35px;
    height: 59px;
    margin: auto 10px;
  }
}
@media (max-width: 768px) {
  .slideshow .left-arrow {
    width: 12px;
    height: 20px;
    margin: auto 5px;
  }
}
.slideshow .right-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 20px;
}
@media (max-width: 1024px) {
  .slideshow .right-arrow {
    width: 35px;
    height: 59px;
    margin: auto 10px;
  }
}
@media (max-width: 768px) {
  .slideshow .right-arrow {
    width: 12px;
    height: 20px;
    margin: auto 5px;
  }
}
.slideshow p {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .slideshow p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .slideshow p {
    display: none;
  }
}

.appt-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .appt-info {
    flex-direction: column;
  }
}

.appt-info__title-location-tags h2 {
  color: #FF6060;
  font-size: 36px;
}
@media (max-width: 1024px) {
  .appt-info__title-location-tags h2 {
    font-size: 27px;
  }
}
@media (max-width: 768px) {
  .appt-info__title-location-tags h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.appt-info__title-location-tags p {
  font-size: 18px;
  margin-bottom: 27px;
}
@media (max-width: 1024px) {
  .appt-info__title-location-tags p {
    font-size: 14px;
    margin-bottom: 18px;
  }
}
@media (max-width: 768px) {
  .appt-info__title-location-tags p {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.tags {
  display: flex;
  gap: 10px;
}
.tags .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #FF6060;
  min-height: 25px;
  height: auto;
  padding: 3px 40px;
  max-width: 70px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .tags .tag {
    padding: 3px 32px;
    min-height: 20px;
  }
}
@media (max-width: 768px) {
  .tags .tag {
    padding: 3px 24.5px;
    min-height: 12px;
  }
}
.tags .tag p {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .tags .tag p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .tags .tag p {
    font-size: 10px;
  }
}

.appt-info__owner-and-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .appt-info__owner-and-rate {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  }
}
.appt-info__owner-and-rate .appt-info__owner {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .appt-info__owner-and-rate .appt-info__owner {
    order: 2;
  }
}
.appt-info__owner-and-rate .appt-info__owner img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
@media (max-width: 1024px) {
  .appt-info__owner-and-rate .appt-info__owner img {
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 768px) {
  .appt-info__owner-and-rate .appt-info__owner img {
    width: 32px;
    height: 32px;
  }
}
.appt-info__owner-and-rate .appt-info__owner p {
  color: #FF6060;
  font-size: 18px;
  width: 93px;
  display: flex;
  justify-content: end;
  text-align: end;
}
@media (max-width: 1024px) {
  .appt-info__owner-and-rate .appt-info__owner p {
    width: 67px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .appt-info__owner-and-rate .appt-info__owner p {
    width: 45px;
    font-size: 12px;
    text-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .appt-info__owner-and-rate .rate {
    order: 1;
  }
}
.appt-info__owner-and-rate .rate div {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.appt-info__owner-and-rate .rate span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}
@media (max-width: 1024px) {
  .appt-info__owner-and-rate .rate span {
    width: 27px;
    height: 27px;
  }
}
@media (max-width: 768px) {
  .appt-info__owner-and-rate .rate span {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 1024px) {
  .appt-info__owner-and-rate .rate span img {
    width: 27px;
    height: 27px;
  }
}
@media (max-width: 768px) {
  .appt-info__owner-and-rate .rate span img {
    width: 18px;
    height: 18px;
  }
}

.appt-info__equipement-and-description {
  display: flex;
  align-items: stretch;
  gap: 76px;
  margin-bottom: 42px;
}
@media (max-width: 768px) {
  .appt-info__equipement-and-description {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.appt-info__equipement-and-description div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
}
@media (max-width: 768px) {
  .appt-info__equipement-and-description div {
    width: 97%;
  }
}
.appt-info__equipement-and-description div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FF6060;
  height: 20px;
  border-radius: 10px;
  padding: 16px;
}
@media (max-width: 1024px) {
  .appt-info__equipement-and-description div div {
    height: 14px;
    padding: 13px;
  }
}
@media (max-width: 768px) {
  .appt-info__equipement-and-description div div {
    padding: 11px;
    height: 8px;
  }
}
.appt-info__equipement-and-description div span {
  background-color: #F6F6F6;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  bottom: 5px;
  z-index: -1;
  width: 95%;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transform-origin: top center;
}
@media (max-width: 1024px) {
  .appt-info__equipement-and-description div span {
    padding: 13px;
  }
}
@media (max-width: 768px) {
  .appt-info__equipement-and-description div span {
    padding: 11px;
    width: 97%;
  }
}
.appt-info__equipement-and-description div .visible0 {
  display: none;
}
.appt-info__equipement-and-description h2 {
  text-align: center;
  color: white;
  font-size: 24px;
}
@media (max-width: 1024px) {
  .appt-info__equipement-and-description h2 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .appt-info__equipement-and-description h2 {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .appt-info__equipement-and-description p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .appt-info__equipement-and-description p {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .appt-info__equipement-and-description img {
    width: 20px;
    height: 11px;
  }
}
@media (max-width: 768px) {
  .appt-info__equipement-and-description img {
    width: 16px;
    height: 9px;
  }
}

.about_container {
  margin-bottom: 30px;
}
.about_container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about_container div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FF6060;
  height: 20px;
  border-radius: 10px;
  width: 78%;
  padding: 16px;
}
@media (max-width: 1024px) {
  .about_container div div {
    width: 84%;
    height: 15px;
    padding: 13px;
  }
}
@media (max-width: 768px) {
  .about_container div div {
    width: 90%;
    height: 10px;
    padding: 10px;
  }
}
.about_container h2 {
  text-align: center;
  color: white;
  font-size: 24px;
}
@media (max-width: 1024px) {
  .about_container h2 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .about_container h2 {
    font-size: 13px;
  }
}
.about_container span {
  background-color: #F6F6F6;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  bottom: 5px;
  z-index: -1;
  width: 78%;
  padding: 16px;
  transform-origin: top center;
}
@media (max-width: 1024px) {
  .about_container span {
    width: 84%;
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .about_container span {
    width: 90%;
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  .about_container img {
    width: 20px;
    height: 11.5px;
  }
}
@media (max-width: 768px) {
  .about_container img {
    width: 16px;
    height: 9px;
  }
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error-container h2 {
  font-size: 288px;
  color: #FF6060;
  margin-top: 89px;
}
@media (max-width: 1024px) {
  .error-container h2 {
    font-size: 192px;
    margin-top: 76px;
  }
}
@media (max-width: 768px) {
  .error-container h2 {
    font-size: 96px;
    margin-top: 63px;
  }
}
.error-container p {
  font-size: 36px;
  color: #FF6060;
}
@media (max-width: 1024px) {
  .error-container p {
    font-size: 27px;
    height: 22px;
    width: 50%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .error-container p {
    font-size: 18px;
  }
}
.error-container a {
  text-decoration: underline;
  color: black;
  padding-left: 0;
  margin-bottom: 131px;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .error-container a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .error-container a {
    font-size: 14px;
  }
}
.error-container h2, .error-container p {
  margin-bottom: 139px;
}
@media (max-width: 1024px) {
  .error-container h2, .error-container p {
    margin-bottom: 126px;
  }
}
@media (max-width: 768px) {
  .error-container h2, .error-container p {
    margin-bottom: 113px;
  }
}

.visible0 {
  display: none;
}

.visible1 {
  animation: show 0.25s linear;
}

.visible2 {
  animation: mask 0.25s linear forwards;
}

.rotate1 {
  animation: rotate-show 0.25s linear forwards;
}

.rotate2 {
  animation: rotate-mask 0.25s linear forwards;
}

@keyframes show {
  from {
    transform: scaleY(0);
    display: none;
  }
  to {
    transform: scaleY(1);
    display: block;
  }
}
@keyframes mask {
  from {
    transform: scaleY(1);
    display: block;
  }
  to {
    transform: scaleY(0);
    display: none;
  }
}
@keyframes rotate-show {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotate-mask {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}/*# sourceMappingURL=styles.css.map */